# create subsets of fonts for my website
on:
  workflow_dispatch:
  schedule:
    - cron: '0 6 * * * '

name: fonts

jobs:
  enable:
    runs-on: ubuntu-latest

    name: Create fonts

    steps:
      - uses: actions/checkout@HEAD

      - name: Checkout cn
        uses: actions/checkout@HEAD
        with:
          path: dustincys.github.io/cn
          repository: dustincys/cn
          submodules: recursive

      - name: Install packages
        run: |
          sudo apt-get -qq install -y fonttools > /dev/null

      - name: Extract characters
        run: |
          mkdir -p fonts
          find cn -name '*.md' -exec grep -o -P '[\x{4E00}-\x{9FFF}]' {} \; | sort | uniq > fonts/chars.txt

      - name: Build fonts
        run: |
          export FONT_NAME=SourceHanSerifCN-SemiBold
          wget -nv https://github.com/adobe-fonts/source-han-serif/raw/release/SubsetOTF/CN/${FONT_NAME}.otf
          pyftsubset ${FONT_NAME}.otf --text-file=fonts/chars.txt --no-hinting --flavor=woff2 --output-file=fonts/${FONT_NAME}-ysc.woff2
          export FONT_NAME=HanyiSentyPea
          wget -nv https://www.sentyfont.com/index_htm_files/${FONT_NAME}.ttf
          pyftsubset ${FONT_NAME}.ttf --text-file=fonts/chars.txt --no-hinting --flavor=woff2 --output-file=fonts/${FONT_NAME}-ysc.woff2
          export FONT_NAME=HanyiSentySnowMountain
          wget -nv https://www.sentyfont.com/index_htm_files/${FONT_NAME}.ttf
          pyftsubset ${FONT_NAME}.ttf --text-file=fonts/chars.txt --no-hinting --flavor=woff2 --output-file=fonts/${FONT_NAME}-ysc.woff2

      - name: Push fonts
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add fonts/*
          git commit -m "update fonts" && git push || true
